<h1><%= params[:name].capitalize + " Leaderboard" %></h1>
 <% @personal_records.each_with_index do |personal_record, index| %>
    <% if session[:person_id] == personal_record.id %>
    	MY CURRENT PLACE <br> <%=index + 1%> / <%= @personal_records.size %>
    <% end %>
  <% end %>
<table>
  <thead>
    <tr>
      <th></th>	
      <th>Person</th>
      <th>Time</th>      
      <th>Event Name</th>
    </tr>
  </thead>

  <tbody>
    <% @personal_records.each do |personal_record| %>
    <% if session[:person_id] == personal_record.id %>
      <tr style="background-color: yellow">
    <% else %>
    	<tr>
    <% end %>
      	<td><img src='<%= personal_record.person.image %>' /></td>
        <td><%= personal_record.person.name %></td>
        <td><%= personal_record.result_time.strftime('%H:%M:%S') %></td>
        <td><a target="_blank" href="<%= personal_record.url%>"><%= personal_record.event_name %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

