<h1>Listing personal_records</h1>

<table>
  <thead>
    <tr>
      <th></th>	
      <th>Person</th>
      <th>Event type</th>
      <th>Time</th>      
      <th>Event Name</th>
      <th>Category</th>

    </tr>
  </thead>

  <tbody>
    <% @personal_records.each do |personal_record| %>
      <tr>
      	<td><img src='<%= personal_record.person.image %>' /></td>
        <td><%= personal_record.person.name %></td>
        <td><%= personal_record.event_type_id %></td>
        <td><%= personal_record.result_time.strftime('%H:%M:%S') %></td>
        <td><%= personal_record.event_name %></td>
        <td><%= personal_record.sub_cat %></td>

      </tr>
    <% end %>
  </tbody>
</table>

