<h1>Listing People</h1>
 
<table>
  <tr>
    <th><th>
    <th>Name</th>
    <th>Email</th>
    <th>Brithday</th>
  </tr>
 
  <% @people.each do |p| %>
    <tr>
      <td><img src='<%= p.image %>' /></td>
      <td><%= p.name %></td>
      <td><%= p.email %></td>
      <td><%= p.birth_date %></td>
      <td><%= link_to 'Show', person_path(p) %></td>
      <td><%= link_to 'Edit', edit_person_path(p) %></td>
    </tr>
  <% end %>
</table>